*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.menu a{
    text-decoration: none;
    color: #142E38;
    font-size: larger;
    font-weight: 700;
}
ul > li {

    padding: 0;
    margin: 0; 
    text-align: center;
}
li{
    list-style: none;
   
}
header{
    
    /* border-bottom: 1px solid red; */

}
.nav{
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.iconmenu{
    background-color: #142E38;
    

}
.iconmenu ul{
    display: flex;
    flex-direction: row;
    

}
.iconmenu ul >li{
    margin: 1rem 2rem 1rem 2rem;

}




.menu ul{
    display: flex;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    
}
.menu ul > li{
    /* background-color: aqua; */
    margin-left: 3rem;
}

.content{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.about-text h1{
    margin-top:1rem ;
    margin-bottom: 1rem;
    font-size: xx-large;
    font-weight: 800;
    /* font-style: italic; */
    font-family: Arial, Helvetica, sans-serif;

    
}
#top{
    border: transparent;
    background-color: #d5eec6;
    border-radius: 5px ;
    padding: 7px;
    color: #142E38;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: xx-large; */
}
#bottom{
    border: transparent;
    background-color: #318161;
    border-radius: 25px ;
    padding: 20px 40px ;
    color: #ffffff;
    font-weight: 500;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;

}
.about-text p{
    color: #142E38;
    margin-bottom: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}

.sider::after { 
    content: "  ";
    border:1px solid #142E38;
    padding-bottom: 150px;
    margin-left: 15px;
  }
  .about-img{
      width: 40%;
  }

  .sider ul{
      padding: px;
  }
  .sider ul >li{
      margin-top: 20px;
  }
.sider{
    
    position: absolute;
    right: 0;
    bottom: 10rem;
    padding: 1.5rem;

    
}

.mid{
    display: flex;
    left: 0;
    margin: 0;
    padding: 0;
    
}